<!doctype html>
<html lang="ko">
<head>
 <title><%= title%></title>
  <% include part/header.ejs %>

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
    body{
      background-image: url("images/background.jpg");
      filter: grayscale(80%);
     background-position: top;
      background-size: cover;
    }
  </style>

</head>
<body class="text-center">
<% include body/main.ejs %>

</body>


</html>
