<!doctype html>
<html lang="ko">
<head>
 <title><%= title%></title>
 <%- include('part/header') %>
</head>
<body class="text-center">
<%- include('body/squat') %>

<!--<script>-->
<!-- var database = firebase.database();-->

<!-- var dbTestRef = database.ref('test/')-->
<!-- dbTestRef.on('child_added', function (data){-->
<!--  console.log(data.val(), 'key: ', data.key)-->
<!-- })-->
<!--</script>-->
</body>

</html>
