@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);

/*/ start count stats /*/

section#counter-stats {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.stats .fa {
    color: #008080;
    font-size: 60px;
}

.dropbtn {
    padding: .25rem 0;
    font-weight: 700;
    background-color: transparent;
    color: rgba(255, 255, 255, .5);
    border-bottom: .25rem solid transparent;
    margin-left: 1rem;
    margin-right: 1rem;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: inherit;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: inherit;}