<main role="main" class="inner cover">
    <a class="cover-heading">아래 적혀있는 연락처 중 한명에게 연락을 주시면 아마도 답장을 드리겠습니다</a>
    <hr>
    <table class="table table-borderless" style="color:white">
        <thead>
        <tr>
            <th>이름</th>
            <th>연락처</th>
            <th>Social</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>정승기</td>
            <td>fex5360@gmail.com</td>
            <td><a href="https://github.com/Seungki-Jeong">
                    <img  src="images/github.png" style="width:28px; background-color: white"> </a> </td>
        </tr>
        <tr>
            <td>조현철</td>
            <td>jhc1230513@gmail.com</td>
            <td><a href="https://github.com/chohyunchul">
                <img  src="images/github.png" style="width:28px; background-color: white">
                </a> </td>

        </tr>
        <tr>
            <td>곽필종</td>
            <td>tjfgusfkd@gmail.com</td>
            <td><a href="https://github.com/MethodFunc">
                <img  src="images/github.png" style="width:28px; background-color: white"></a></td>

        </tr>
        </tbody>
    </table>


</main>

<%- include("../part/footer")%>
</div>