<main role="main" class="inner cover">
    <h1>DashBoard</h1>
    <div class="container"> <canvas id="myChart"></canvas> </div>

<!--    <svg width="960" height="500"></svg>-->
    <script>
        // https://console.firebase.google.com/project/[your_project_name]/settings/general
        var firebaseConfig = {
            apiKey: "AIzaSyB72klvRp9TjHhczFMAMM8FGOhaTLhKHFc",
            authDomain: "train-5772b.firebaseapp.com",
            databaseURL: "https://train-5772b.firebaseio.com",
            projectId: "train-5772b",
            storageBucket: "train-5772b.appspot.com",
            messagingSenderId: "874170495915",
            appId: "1:874170495915:web:92c0dbec429da4161658ee",
            measurementId: "G-0T8VVPG5BV"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);

        var database = firebase.database();
        var dbTestRef = database.ref('hca/');

        var labels = new Array();
        var datas = new Array();
        dbTestRef.on('child_added', function(data) {
            labels.push(data.key);
            datas.push(data.val());

            var ctx = document.getElementById('myChart').getContext('2d');
            var chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: '# of Count',
                        data: datas,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.3)',
                            'rgba(54, 162, 235, 0.3)',
                            'rgba(255, 206, 86, 0.3)',
                            'rgba(75, 192, 192, 0.3)',
                            'rgba(153, 102, 255, 0.3)',
                            'rgba(255, 159, 64, 0.3)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        // borderWidth: 1,

                    }]
                },
                options: {
                    scales: {
                        xAxes:[{
                            display: true,
                            ticks:{
                                fontColor: 'rgba(255, 255, 255, 0.8)'
                            },
                            gridLines: {
                                color:'rgba(255, 255, 255, 0.5)'

                            }
                        }],
                        yAxes: [{
                            display: true,
                            ticks: {
                                beginAtZero: true,
                                min:0,
                                stepSize:2,
                                fontColor: 'rgba(255, 255, 255, 0.8)'
                            },
                            gridLines:{
                                color:'rgba(255, 255, 255, 0.5)'
                            }
                        }]
                    },
                    legend:{
                        labels: {
                            fontColor : 'white'
                        }
                    }
                }
            });

        });

    </script>
</main>
<%- include('../part/footer')%>
</div>

