<style>
    body{
        background-image: url("images/background.jpg");
        filter: grayscale(80%);
        background-position: top;
        background-size: cover;
    }
</style>

<main role="main" class="inner cover">
    <div class="row">
        <div class="col-sm-6">
            <div class="card" style="background-color: rgba(255, 255, 255)">
                <div class="card-body">
                    <h5 class="card-title" style="color: black">Squat</h5>
                    <p class="card-text" style="color: black">스쿼트 운동 설명</p>
                    <a href="#" class="btn btn-dark">스쿼트 바로가기</a>
                </div>
            </div>
            <br>
            <div class="card" style="background-color: rgba(255, 255, 255)">
                <div class="card-body">
                    <h5 class="card-title" style="color: black">Shoulder Press</h5>
                    <p class="card-text" style="color: black">숄더프레스 운동 설명</p>
                    <a href="#" class="btn btn-dark">숄더프레스 바로가기</a>
                </div>
            </div>

        </div>
        <div class="col-sm-6">
            <div class="card" style="background-color: rgba(255, 255, 255)">
                <div class="card-body">
                    <h5 class="card-title" style="color: black">Lunge</h5>
                    <p class="card-text" style="color: black">런지 운동 설명</p>
                    <a href="#" class="btn btn-dark">런지 바로가기</a>
                </div>
            </div>
            <br>
            <div class="card" style="background-color: rgba(255, 255, 255)">
                <div class="card-body">
                    <h5 class="card-title" style="color: black">Leg Raise</h5>
                    <p class="card-text" style="color: black">레그 라이즈 운동 설명</p>
                    <a href="#" class="btn btn-dark">레그 라이즈 바로가기</a>
                </div>
            </div>
        </div>
    </div>

</main>

<%- include("../part/footer")%>

</div>