<style>
    body{
        background-image: url("images/background.jpg");
        filter: grayscale(80%);
        background-position: top;
        background-size: cover;
    }
</style>

<main>
    <div class="row">
        <br>
    </div>

    <div class="row">

        <div class="col-sm-6">
            <div class="card" style="background-color: rgba(255, 255, 255)">
                <a href="/squat" class="btn">
                    <h5 class="card-title" style="color: black">Squat</h5>
                    <p class="card-text" style="color: black"> 초보자도 빠르게 운동 효과를 볼 수 있는 강력한 운동입니다. 근육을 만드는 데 도움이 될 뿐만 아니라 몸 전체 근육을 구축하는 환경을 만들어줍니다.</p>
                </a>
            </div>
            <br>
            <div class="card" style="background-color: rgba(255, 255, 255)">
                <a href="/shoulderp" class="btn">
                    <h5 class="card-title" style="color: black">Shoulder Press</h5>
                    <p class="card-text" style="color: black">어깨의 근육을 이용해 미는(press)운동입니다. 삼각근의 트레이닝을 위한 운동입니다.</p>
                </a>
            </div>

        </div>
        <div class="col-sm-6">
            <div class="card" style="background-color: rgba(255, 255, 255)">
                <a href="/lunge" class="btn">
                    <h5 class="card-title" style="color: black">Lunge</h5>
                    <p class="card-text" style="color: black">런지란 사전적 의미로는 달려들다, 돌진 등의 의미를 가지고 있으며 앞으로 나아가는 자세를 취하게 되는데, 이는 펜싱의 찌르기 공격에서 유래된 운동법</p>
                </a>
            </div>
            <br>
            <div class="card" style="background-color: rgba(255, 255, 255)">
                <a href="/legraise" class="btn">
                    <h5 class="card-title" style="color: black">Leg Raise</h5>
                    <p class="card-text" style="color: black">아랫배를 단련시키는 맨몸운동으로 코어와 하체의 힘을 사용해 복부에 자극을 주는 트레이닝</p>
                </a>
            </div>
        </div>
    </div>

</main>


<%- include("../part/footer")%>

</div>