<style>
    body{
        background-image: url("images/background.jpg");
        filter: grayscale(80%);
        background-position: top;
        background-size: cover;
    }
</style>

<main>
    <div class="row">
        <br>
    </div>

    <div class="row">

        <div class="col-sm-6">
            <div class="card" style="background-color: rgba(255, 255, 255)">
                <a href="/squat" class="btn">
                    <h5 class="card-title" style="color: black">Squat</h5>
                    <p class="card-text" style="color: black"> 초보자도 빠르게 운동 효과를 볼 수 있는 강력한 운동입니다. 근육을 만드는 데 도움이 될 뿐만 아니라 몸 전체 근육을 구축하는 환경을 만들어줍니다.</p>
                </a>
            </div>
            <br>
            <div class="card" style="background-color: rgba(255, 255, 255)">
                <a href="/shoulderp" class="btn">
                    <h5 class="card-title" style="color: black">Shoulder Press</h5>
                    <p class="card-text" style="color: black">어깨의 근육을 이용해 미는(press)운동입니다. 삼각근의 트레이닝을 위한 운동입니다.</p>
                </a>
            </div>

        </div>
        <div class="col-sm-6">
            <div class="card" style="background-color: rgba(255, 255, 255)">
                <a href="/lunge" class="btn">
                    <h5 class="card-title" style="color: black">Lunge</h5>
                    <p class="card-text" style="color: black">런지란 사전적 의미로는 달려들다, 돌진 등의 의미를 가지고 있으며 앞으로 나아가는 자세를 취하게 되는데, 이는 펜싱의 찌르기 공격에서 유래된 운동법</p>
                </a>
            </div>
            <br>
            <div class="card" style="background-color: rgba(255, 255, 255)">
                <a href="/legraise" class="btn">
                    <h5 class="card-title" style="color: black">Leg Raise</h5>
                    <p class="card-text" style="color: black">아랫배를 단련시키는 맨몸운동으로 코어와 하체의 힘을 사용해 복부에 자극을 주는 트레이닝</p>
                </a>
            </div>
        </div>
    </div>

</main>
<script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();
    if(dd<10) {
        dd='0'+dd
    }
    if(mm<10) {
        mm='0'+mm
    }

    today = String(yyyy)+ String(mm)+ String(dd);

    var firebaseConfig = {
        apiKey: "AIzaSyB72klvRp9TjHhczFMAMM8FGOhaTLhKHFc",
        authDomain: "train-5772b.firebaseapp.com",
        databaseURL: "https://train-5772b.firebaseio.com",
        projectId: "train-5772b",
        storageBucket: "train-5772b.appspot.com",
        messagingSenderId: "874170495915",
        appId: "1:874170495915:web:92c0dbec429da4161658ee",
        measurementId: "G-0T8VVPG5BV"
    };
    // // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();

    const db = firebase.firestore();
    const dbref = db.collection('hca');

    // 오늘 날짜 데이터베이스가 없으면 새로 생성한다.
    dbref.get().then(function(querySnapshot) {
        var doc_id = [];
        var last_count = null;
        querySnapshot.forEach(function (doc) {
            // doc.data() is never undefined for query doc snapshots
            // console.log("doc data =>", doc.data());
            // console.log("last_data =>", last_data)
            doc_id.push(doc.id);
        });
        last_count = doc_id.length;
        console.log(doc_id[last_count-1]);

        if(doc_id[last_count-1] != today){
            dbref.doc(today).set({
                squat: 0,
                shoulderP: 0,
                lunge: 0,
                legraise: 0
            });
        };

    });


</script>


<%- include("../part/footer")%>

</div>